---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About me" description="Know a little more about me">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About me | Giovanni Padova"
        tagline="Here's a deeper look on who I am, and what I worked previously"
      >
        <!-- Commented out image -->
      </Hero>
      <section>
        <h2 class="section-title">Introduction</h2>
        <div class="content">
          <p>
            Hey there! I'm Giovanni Padova, a software engineer and Local-first
            enthusiast. Based in the beautiful coastal city of Florianópolis,
            Brazil. I've built my career around creating impactful web
            applications. As a full-stack developer, I thrive on owning projects
            end-to-end, from crafting intuitive user interfaces to architecting
            robust backend solutions. My hands-on approach and attention to
            detail allow me to turn complex technical challenges into superb,
            and awesome products.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Current Role</h2>
        <div class="content">
          <p>
            Currently, I'm working as a Software Engineer at WowMi, a Los
            Angeles-based company that specializes in marketing software
            solutions. In this role, I've expanded my technical toolkit
            significantly, working with a modern tech stack that includes NestJS
            for building robust backend services and React with Vite for
            creating fast, efficient frontend applications. Also, I've created a
            video processing service with Python and FFMPEG that handles
            video encoding and streaming of videos in a concurrent manner.
          </p>
          <!-- ... (rest of the paragraph) ... -->
        </div>
      </section>
      <section>
        <h2 class="section-title">Previous Roles</h2>
        <div class="content">
          <p>
            Prior to my current position, I worked as a full stack developer for a
            Health Startup that was making waves with its innovative approach to
            treating autistic children. In this role, I worked with a tech stack
            that included React for the frontend and Java for the backend. This
            position allowed me to apply my technical skills to a meaningful cause,
            contributing to the development of solutions that positively impacted
            the lives of children and their families.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education and Training</h2>
        <div class="content">
          <p>
            I went to university for Electrical Engineering, where I had tons of
            hands-on experience with programming languages, particularly C,
            Assembly, and MatLab.
          </p>
          <!-- ... (paragraphs about university experience) ... -->
          <p>
            I also went to a bootcamp for web development, where I was taught all
            the fundamentals of web development. During the bootcamp, I gained
            experience with the Scrum methodology and learned how to be a
            software engineer.
          </p>
          <!-- ... (paragraphs about bootcamp experience) ... -->
        </div>
      </section>
      <section>
        <h2 class="section-title">Personal Interests</h2>
        <div class="content">
          <p>
            Outside of work, I enjoy cooking, chess, and cycling. Cooking allows
            me to experiment with new recipes and ingredients while chess
            provides a mental challenge that helps me develop my critical
            thinking skills. Cycling, on the other hand, keeps me active and
            allows me to explore the beautiful scenery around Florianopolis.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            • 2017 - 2022: Electrical Engineering, at <a
              target="_blank"
              href="https://ufsc.br/">UFSC</a
            >
          </p>
          <p>
            • 2022 - 2023: Full Stack Web Development bootcamp, at <a
              target="_blank"
              href="https://www.driven.com.br/">Driven Education</a
            >
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
    width: 95%;
  }
  .content p {
    text-align: justify;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
